server:
  port: 8083

spring:
  application:
    name: order-service
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/ecommerce_order_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  
  # Kafka Configuration
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: orderCreatedEvent:com.ecommerce.common.events.OrderCreatedEvent

# External Service URLs (used by Order service to call others)
services:
  auth:
    url: ${SERVICES_AUTH_URL:http://auth-service:8081}
  product:
    url: ${SERVICES_PRODUCT_URL:http://product-service:8082}
  payment:
    url: ${SERVICES_PAYMENT_URL:http://payment-service:8084}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://eureka-server:8761/eureka/}

# Logging
logging:
  level:
    com.ecommerce.order: DEBUG
